/* css reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  
  /* designing the counter container */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 5px black;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(209, 4, 255);
  }
  
  /* designing the buttons */
  button {
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    font-weight: 900;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: rgb(0, 136, 255);
  }
  
  #displayValue {
    font-size: 25px;
    padding: 5px 15px;
    border: 1px solid black;
    font-weight: 900;
    font-family: sans-serif;
    font-stretch:expanded;
  }

  .Counter{
    font-family: cursive;
    font-size: xx-large;
    font-weight: 900;
  }